# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Node dependencies & logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build & temporary files
.sass-cache/
*.css.map
*.scss.map
generate-images.js
