// ==========================================
// SCSS Layout: Pie de Página (Footer)
// ==========================================

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.footer-principal {
    background-color: $bg-footer;
    color: $text-muted;
    padding: 2rem 1.5rem;
    @include flex-layout(column, center, center, 1rem);
    border-top: 1px solid $bg-card;
    margin-top: auto;

    p {
        font-size: 0.9rem;
        color: $text-muted;
        text-align: center;
    }

    .footer-enlaces {
        list-style: none;
        @include flex-layout(row, center, center, 1.5rem);

        a {
            color: $text-sub;
            font-size: 0.9rem;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}
